.main {
    font-family: Keter YG, SBL Hebrew, Taamey David CLM, Ezra SIL SR, Taamey Frank CLM, Keter Aram Tsova, Ezra SIL;
    font-size:20pt;
    line-height:23pt;
}

big {
    font-size:125%;
    display:inline;
}

small {
    font-size:75%;
    display:inline;
}

pasek {
    font-size:50%;
}

legarmia {
    font-weight: bold;
}

open-parasha {
    display: block;
}

kamatz-katan {
    color: #9d39ff;
}

sheva-na {
    color: #3aff80;
}

verse:before {content: attr(vid) ". "}
#verse:after {content: " "}