{% load staticfiles %}

<!DOCTYPE html>
<html dir="rtl" lang="he">
  <head>
      <link rel="stylesheet" type="text/css" href="{% static 'bible/site.css' %}" />
      <meta charset="UTF-8">
	<title>Title of the document</title>
  </head>
<body>

    <nav>

    </nav>
	<div class="main">
{% for verse in verses %}
    {# Each "verse" is a Verse model object. #}
    {% autoescape off %}
    {{  verse.get_verse }}
    {% endautoescape %}
{% endfor %}
	</div>
	<div class="pagination" >
	  <span class="step-links">
        {% if verses.has_previous %}
		<a href="?page={{ verses.previous_page_number }}">previous</a>
        {% endif %}
		
        <span class="current">
		  Page {{ verses.number }} of {{ verses.paginator.num_pages }}.
        </span>
		
        {% if verses.has_next %}
		<a href="?page={{ verses.next_page_number }}">next</a>
        {% endif %}
	  </span>
	</div>
  </body>
</html>